@import "../../scss/function";

body.card_swipe {
  overflow: hidden;
  background-color: #fff;
  .pointer_events_none {
    pointer-events: none;
  }
}
@mixin card_wrap {
  .card_wrap {
    position: absolute;
    top: 16px;
    right: 0;
    left: 0;
    width: vw(327);
    margin: 0 auto;
    .card_item {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr vw(117);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      background-color: #fff;
      border-radius: 24px;
      &:not(:last-child) {
        transform: scale(.95);
        border: 1px solid #e6e6e6;
      }
      &:last-child {
        box-shadow: 0px 16px 28px rgba(0, 0, 0, 0.08);
        transition: .3s;
        &.moving {
          transition: none;
        }
      }
      .card_item_photo {
        position: relative;
        border-radius: 24px 24px 0 0;
        overflow: hidden;
        .photo {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: auto 100%;
          border-radius: 24px 24px 0 0;
          transition: .3s;
          filter: brightness(100%);
        }
        .first_cover {
          position: absolute;
          top: 0;
          left: 0;
          display: grid;
          align-content: center;
          justify-content: center;
          place-items: center;
          width: 100%;
          height: 100%;
          transition: .3s;
          visibility: hidden;
          opacity: 0;
          transform: translate3d(0, 30px, 0);
          > dl {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            align-content: center;
            justify-content: center;
            grid-gap: vw(8) 0;
            gap: vw(8) 0;
            color: #fff;
            padding-top: vw(48);
            background:
              url(/img/type/icon_eye.png)
              no-repeat center top / vw(40);
            ;
            dt {
              font-size: vw(16);
              font-weight: bold;
            }
            dd {
              justify-self: center;
            }
          }
        }
        &.cover {
          .photo {
            filter: brightness(60%);
          }
          .first_cover {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
      .card_item_status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 vw(16);
        dt,
        .job {
          color: #000;
          line-height: 1;
        }
        .job,
        .affinity {
          margin-top: vw(12);
        }
        > dt {
          display: flex;
          align-items: center;
          font-size: vw(18);
          font-weight: 700;
          .online {
            display: inline-block;
            width: vw(8);
            height: vw(8);
            background-color: #1DDF99;
            border-radius: 50%;
            margin-left: vw(4);
          }
        }
      }
    }
  }
  &.small_indicate {
    .card_item_photo {
      .photo {
        background-size: 100% auto !important;
      }
    }
  }
}
@mixin btn_wrap {
  .btn_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: vw(64) vw(64);
    grid-template-rows: vw(64);
    grid-gap: 0 vw(47);
    gap: 0 vw(47);
    justify-content: center;
    align-content: center;
    .btn {
      display: block;
      width: vw(64);
      height: vw(64);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: vw(28);
      box-shadow: 0px 16px 28px rgba(0, 0, 0, 0.08);
      &.type {
        background-color: #ff6f6f;
        background-image: url(../img/heart.png);
      }
      &.skip {
        background-color: #cdcdd0;
        background-image: url(../img/skip.png);
      }
    }
  }
}
@mixin match_modal {
  .match_app_template {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    background-color: #ff6f6f;
    transition: .2s;
    visibility: hidden;
    overflow: hidden;
    &.slideup {
      visibility: visible !important;
      opacity: 1 !important;
    }
    .close {
      position: absolute;
      top: vw(26);
      left: vw(16);
      z-index: 1;
      display: block;
      width: vw(24);
      height: vw(24);
      background:
        url(../img/close_w_x.png)
        no-repeat center / vw(24)
      ;
    }
    .match_container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: #fff;
      .header,
      .thumb_wrap,
      .target_status,
      .affinity,
      .message_area,
      .shortage_area,
      .send_notice {
        position: absolute;
        left: 0;
        right: 0;
      }
      .header {
        top: vw(124);
        width: 100%;
        text-align: center;
        margin: 0 auto;
        transition: .3s;
        .label {
          font-size: vw(24);
          font-weight: 700;
        }
        > p {
          margin-top: vw(6);
        }
      }
      .thumb_wrap {
        top: vw(205);
        width: vw(220);
        height: vw(122);
        margin: 0 auto;
        > img {
          position: absolute;
          top: 0;
          width: vw(106);
          height: vw(106);
          border-radius: 50%;
          border: 8px solid #ff6f6f;
          transition: .3s;
          &.member {
            left: 0;
          }
          &.target {
            right: 0;
            z-index: 1;
          }
        }
      }
      .target_status {
        top: vw(332);
        width: 100%;
        text-align: center;
        transition: .3s;
        > dt {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: vw(20);
          font-weight: 700;
          line-height: 1;
          .online {
            display: inline-block;
            width: vw(8);
            height: vw(8);
            background-color: #1DDF99;
            border-radius: 50%;
            margin-left: vw(4);
          }
        }
        .age_tdfk {
          margin: vw(9) 0;
          line-height: 1;
        }
        .profile_link {
          transition: .3s;
          > span {
            display: inline-grid;
            align-items: center;
            justify-items: center;
            place-items: center;
            width: vw(126);
            height: vw(30);
            color: inherit;
            font-size: vw(12);
            font-weight: 700;
            border: 1px solid #fff;
            border-radius: vw(16);
          }
        }
      }
      .affinity {
        top: vw(340);
        width: calc( 100% - #{vw(76)} );
        margin: 0 auto;
        opacity: 0;
        transition: .3s;
        > dt {
          display: flex;
          justify-content: center;
          align-items: center;
          height: vw(20);
          font-weight: 700;
          text-align: center;
          margin-bottom: vw(6);
          &::before {
            content: "";
            display: block;
            width: vw(16);
            height: vw(16);
            background:
              url(../img/heart.png)
              no-repeat center / vw(16);
            ;
            margin-right: vw(5);
          }
        }
        > dd > ul {
          display: flex;
          flex-wrap: wrap;
          > li {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: vw(26);
            padding: 0 vw(8);
            font-size: vw(10);
            border: 1px solid #fff;
            border-radius: vw(13);
            margin: 2px;
          }
        }
      }
      .message_area {
        top: vw(451);
        width: calc( 100% - #{vw(32)} );
        height: vw(48);
        margin: 0 auto;
      }
      .message_area {
        display: grid;
        grid-template-columns: 1fr vw(52);
        grid-template-rows: vw(48);
        .message_textarea {
          display: flex;
          align-items: center;
          padding: 0 vw(12);
          background-color: #fff;
          border-radius: vw(24);
          box-sizing: border-box;
          > textarea {
            width: 100%;
            font-size: 16px;
            line-height: 1.4;
            padding: 6px;
            height: auto;
            vertical-align: bottom;
            resize: none;
            border: 0;
            border-radius: 0;
            &:-webkit-search-decoration {
              display: none;
            }
            &:focus {
              outline: none;
            }
          }
        }
        .message_send {
          display: grid;
          align-items: center;
          justify-items: center;
          place-items: center;
          .send_prev {
            justify-self: end;
            display: block;
            width: vw(32);
            height: vw(32);
            background: 
            url(../img/btn_message_send.png)
              no-repeat right vw(5) center / vw(32)
            ;
          }
          .send_ok {
            color: #fff;
            font-size: vw(17);
            &.can_send {
              color: #35C8E9;
            }
          }
        }
      }
      .send_notice {
        top: vw(510);
        width: 100%;
        font-size: vw(10);
        padding: 0 vw(12);
        box-sizing: border-box;
      }
    }
    &.is_focus {
      background-color: #6e292c;
      .match_container {
        header {
          opacity: 0;
        }
        .thumb_wrap {
          > img {
            width: vw(64);
            height: vw(64);
            border: none;
            &.member {
              opacity: 0;
            }
            &.target {
              transform: translate3d(-#{vw(78)}, 0, 0);
            }
          }
        }
        .target_status {
          transform: translate3d(0, -#{vw(52)}, 0);
          .profile_link {
            opacity: 0;
          }
        }
        .affinity {
          opacity: 1;
        }
      }
    }
  }
}
@mixin empty_state {
  .card_app_empty {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;
    > dl {
      text-align: center;
      > dt {
        font-size: vw(19);
        font-weight: bold;
        line-height: 1.6;
      }
      .text {
        font-size: vw(14);
        margin: vw(6) 0 vw(24);
        line-height: 1;
      }
    }
  }
}
.card_swipe_app_container {
  position: relative;
  @include card_wrap;
  @include btn_wrap;
  @include match_modal;
  @include empty_state;
  .empty_state-enter-active, .empty_state-leave-active {
    transition: opacity .3s ease;
  }
  .empty_state-enter, .empty_state-leave-to {
    opacity: 0;
  }
}