.select_check_list_container {
  padding: 4.3vw;
}

.select_check_list_container.display_select_submit {
  padding: 4.3vw 4.3vw 26.9vw;
}

.select_check_list_container .balloon_label {
  position: relative;
  width: 70.4vw;
  height: 8.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ef5b7f;
  color: #fff;
  border-radius: 4px;
  margin: 0 auto;
}

.select_check_list_container .balloon_label::after {
  content: "";
  position: absolute;
  top: 8.5vw;
  left: 30.9vw;
  border-top: 9px solid #ef5b7f;
  border-right: 9px solid #fff;
  border-left: 9px solid #fff;
  border-bottom: 9px solid #fff;
}

.select_check_list_container .list_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 4.3vw;
  padding-top: 5.3vw;
}

.select_check_list_container .list_wrap .list_item .check_box {
  display: none;
}

.select_check_list_container .list_wrap .list_item .check_label {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.select_check_list_container .list_wrap .list_item .check_label .thumb_wrap {
  position: relative;
}

.select_check_list_container .list_wrap .list_item .check_label .thumb_wrap .thumb {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.select_check_list_container .list_wrap .list_item .check_label .title {
  font-size: 3.5vw;
  padding: 3.2vw;
  line-height: 1.3;
}

.select_check_list_container .list_wrap .list_item .check_box:checked + .check_label::before {
  content: attr(data-check-count);
  position: absolute;
  z-index: 2;
  top: 17.1vw;
  right: 1.1vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8.5vw;
  height: 8.5vw;
  color: #fff;
  font-weight: bold;
  background-color: #009cff;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}

.select_check_list_container .list_wrap .list_item .check_box:checked + .check_label .thumb_wrap::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}

.select_check_list_container .select_submit {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 22.9vw;
  padding: 0 4.3vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translate3d(0, 22.9vw, 0);
          transform: translate3d(0, 22.9vw, 0);
}

.select_check_list_container .select_submit .submit_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  height: 13.3vw;
  color: #fff;
  font-size: calc(14rem / 10);
  font-size: 3.7vw;
  font-weight: bold;
  border-radius: calc( 50px / 2);
  background-color: #ff6f6f;
  -webkit-box-shadow: 0px -2px 0px 2px #ff5656 inset;
          box-shadow: 0px -2px 0px 2px #ff5656 inset;
  margin: 0 auto;
  border: none;
}

.select_check_list_container .select_submit.slideup {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
